<style>
    .imgToolbar{
        border-radius: 50%;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
    a{
        font-family: cursive;
        color: black;
        float: left;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 17px;
    }
    col{
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }
    
</style>
<!-- <p-toolbar>
    <div class="ui-toolbar-group-left">
       
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      <a routerLink="/profile/{{username}}">EasyFooD</a>
      
      
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="ค้นหา"  />
        </span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <a routerLink="/feeds"><fa-icon [icon]="iconhome"></fa-icon></a>
        &nbsp;&nbsp;
        <a routerLink=""><fa-icon [icon]="iconmessage"></fa-icon></a>
        &nbsp;&nbsp;
        <a routerLink=""><fa-icon [icon]="iconbell"></fa-icon></a>
        &nbsp;&nbsp;
        <img  class="imgToolbar" src="{{profile_img}}" alt="Avatar">
        
    </div>
</p-toolbar> -->
<p-toolbar>
    
    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-2"></div>  
        <div class="col-sm-2">
            <div class="ui-toolbar-group-left">
                <a routerLink="/profile/{{username}}"><span>Easy</span> <span style="color: #24ad18;">Food</span></a>
            </div>
        </div>

    </div>
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="ค้นหา"  />
    </span>
    <div class="p-toolbar-group-right">
        <!-- <a routerLink="/feeds"><fa-icon [icon]="iconhome" style="color: dodgerblue;" ></fa-icon></a>
        <a routerLink=""><fa-icon [icon]="iconmessage" style="color: dodgerblue;"></fa-icon></a>
        <a routerLink=""><fa-icon [icon]="iconbell" style="color: dodgerblue;"></fa-icon></a>
        <img  class="imgToolbar" src="{{profile_img}}" alt="Avatar"> -->
        <div class="row">
            <div class="col">
                <a routerLink="/feeds"><fa-icon [icon]="iconhome" style="color: dodgerblue;"></fa-icon></a>
            </div>
            <div class="col">
                <a ><fa-icon [icon]="iconmessage" style="color: dodgerblue;" (click)= "test()"></fa-icon></a>
            </div>
            <div class="col">
                <a routerLink=""><fa-icon [icon]="iconbell" style="color: dodgerblue;" (click)="logoutLocalstorege()"></fa-icon></a>
            </div>
            <div class="col">
                <img  class="imgToolbar" src="{{profile_img}}" alt="Avatar">
            </div>
        </div>
        
    </div>
</p-toolbar>
