<style>
    .colorWritePost {
        color: #65676B;
    }

    .reasonButton {
        background-color: #F0F2F5 !important;
        /* color: rgb(136, 135, 135) !important; */
    }

    .imgToolbar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
</style>
<app-toolbar></app-toolbar>

<div class="container-fluid">

    <div class="row">

        <!-- พื้นที่ที่ไม่ได้ใช้ -->
        <div class="d-none col-lg-3 d-md-block"></div>

        <!-- -----------------------------------------สร้างโพส-------------------------------------------------------- -->
        <div class="card">
            <div class="card-header h6">
                สร้างโพส
            </div>

            <div class="card-body">
                <!--เขียนโพส-->
                <div class="row">
                    <div class="col">
                        <img class="imgToolbar" src="{{avatarProfile}}"
                            alt="Avatar">
                    </div>

                    <button [style]="{width: '43vw'}" (click)="showModalDialog()" pButton pRipple type="button"
                        label="มีสูตรอาหารอะไรใหม่ๆมั้ย" class="p-button-rounded reasonButton colorWritePost"></button>
                </div>

                <p-dialog header="สร้างโพส" [(visible)]="displayModal" [style]="{width: '50vw'}" [baseZIndex]="10000">


                    <div class="card-header h6">
                        <!-- สร้างโพส -->
                    </div>
                    <div class="card-body">
                        <!--เขียนโพส-->
                        <textarea [(ngModel)]="txt" class="form-control beautify-textarea" cols="70" rows="2"
                            placeholder="มีสูตรอาหารอะไรใหม่ๆมั้ย"></textarea>
                    </div>
                    <div class="card-footer ">

                        <p-fileUpload customUpload="true" (uploadHandler)="onFileUpload($event)">

                        </p-fileUpload>
                        <p-progressBar [value]="value"></p-progressBar>

                    </div>
                </p-dialog>

            </div>
        </div>
    </div>
    <!-- -----------------------------------------สร้างโพส-------------------------------------------------------- -->
    
    <!-- -----------------------------------------ส่วนหลัก-------------------------------------------------------- -->
    
    <!-- -----------------------------------------ส่วนหลัก-------------------------------------------------------- -->
</div>