<style>
    .colorWritePost {
        color: #65676B;
    }

    .reasonButton {
        background-color: #F0F2F5 !important;
        /* color: rgb(136, 135, 135) !important; */
    }
</style>
<app-toolbar></app-toolbar>

<div class="row">

    <!-- พื้นที่ที่ไม่ได้ใช้ -->
    <div class="d-none col-md-3 d-md-block"></div>

    <div class="card">
        <div class="card-header h6">
            สร้างโพส
        </div>

        <div class="card-body">
            <!--เขียนโพส-->
            <button [style]="{width: '50vw'}" (click)="showModalDialog()" pButton pRipple type="button"
                label="มีสูตรอาหารอะไรใหม่ๆมั้ย" class="p-button-rounded reasonButton colorWritePost"></button>
            <p-dialog header="สร้างโพส" [(visible)]="displayModal" [style]="{width: '50vw'}" [baseZIndex]="10000">

                
                    <div class="card-header h6">
                        <!-- สร้างโพส -->
                    </div>
                    <div class="card-body">
                        <!--เขียนโพส-->
                        <textarea class="form-control beautify-textarea" cols="70" rows="2"
                            placeholder="มีสูตรอาหารอะไรใหม่ๆมั้ย"></textarea>
                    </div>
                    <div class="card-footer ">
                        <!-- <h5>Advanced</h5> -->
                        <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)" multiple="multiple" accept="image/*"
                            maxFileSize="1000000">
                            <ng-template pTemplate="content">
                                <!-- <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                            </ul> -->
                            </ng-template>
                        </p-fileUpload>

                    </div>
            </p-dialog>

        </div>
    </div>



</div>