<!-- <p-autoComplete   placeholder="ค้นหา" [(ngModel)]="selectedCountry" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [minLength]="1"></p-autoComplete> -->


 <div style="text-align:center">
     <p-autoComplete [(ngModel)]="selectNumber" [suggestions]="output" (completeMethod)="search($event)"
     placeholder="ค้นหา" [dropdown]="false" ></p-autoComplete>
 </div>

<!-- <span class="p-fluid">
    <p-autoComplete [(ngModel)]="selectedCountries" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [multiple]="true">
    </p-autoComplete>
</span> -->

<!-- <input type="text" pInputText placeholder="ค้นหา"  /> -->
<!-- <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input type="text" pInputText placeholder="ค้นหา"  />
</span> -->