<style>
    .imgToolbar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
</style>

<p-autoComplete [(ngModel)]="selectNumber" [suggestions]="output" (completeMethod)="search($event)" placeholder="ค้นหา" field="name"
    [dropdown]="false">
    <ng-template let-selectNumber pTemplate="item" >
        <div (click)="test(selectNumber.name)">
            <img src="{{selectNumber.image}}" alt="Avatar" class="imgToolbar" />
            <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{selectNumber.name}}</div>
        </div>
    </ng-template>
</p-autoComplete>






<!-- <p-dropdown [options]="groupedCities" [(ngModel)]="selectedCity3" placeholder="Select a City" [group]="true">
    <ng-template let-group pTemplate="group">
        <div class="p-d-flex p-ai-center">
            <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'p-mr-2 flag flag-' + group.value"
                style="width: 20px" />
            <span>{{group.label}}</span>
        </div>
    </ng-template>
</p-dropdown> -->