<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <img class="imgRight2" height="700px" width="700px" src="../../assets/images/cooking.svg" alt="">
        </div>
        
        <div class="col-sm-12">
            <div class="rightScreen">
                <p-card header="Sign Up" [style]="{width: '530px'}" styleClass="">

                    <div class="p-field">
                        <label
                            for="username1">Username</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <label for="username1">Password</label><br>
                        <input id="username1" size="23%" type="username" aria-describedby="username1-help" pInputText
                            [(ngModel)]="username" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input
                            id="username1" size="23%" type="password" pPassword aria-describedby="username1-help"
                            pInputText [(ngModel)]="password" /><br><br>
                        <label for="username1">fullname</label><br>
                        <input id="username1" size="58%" type="text" aria-describedby="username1-help" pInputText
                            [(ngModel)]="fullname" /><br><br>
                        <label for="username1">nickname</label><br>
                        <input id="username1" size="58%" type="text" aria-describedby="username1-help" pInputText
                            [(ngModel)]="nickName" />
                    </div><br>

                    <ngx-recaptcha2 #captchaElem siteKey='6LdieiUaAAAAAIYEXn_XHHc81QgOgkBnCi1cw633' [(ngModel)] = 'captcha'>
                    </ngx-recaptcha2><br>



                    <button class="button2" (click)="signup()" pButton pRipple type="button" label="Create an Account"
                        class="btn btn-primary"></button><br><br>
                    <label>Already have an account?</label> <a routerLink="/login"> Sign In</a>
                </p-card>



            </div>
        </div>
    </div>
</div>