<style>
    .imgToolbar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

    a {
        font-family: cursive;
        color: black;
        float: left;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 17px;
    }

    col {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .block {
        display: block;
        width: 100%;


        padding: 14px 28px;



    }



</style>


<!-- //****************** NavBar ************************ */ -->
<app-toolbar></app-toolbar>

<!-- <p-toolbar>

    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <div class="ui-toolbar-group-left">
                <a><span style="color: #007BFF;">Easy</span> <span style="color: #24ad18;">Food</span></a>
            </div>
        </div>

    </div>
    <div class="col-xl-1">
        <p-autoComplete [(ngModel)]="selectNumber" [suggestions]="output" (completeMethod)="search($event)"
            placeholder="ค้นหา" field="name" [dropdown]="false" >
            <ng-template let-selectNumber pTemplate="item">
                <div (click)="value(selectNumber.name)">
                    <img src="{{selectNumber.image}}" alt="Avatar" class="imgToolbar" />
                    <div style="font-size:18px;float:right;margin:10px 10px 0 0">{{selectNumber.name}}</div>
                </div>
            </ng-template>
        </p-autoComplete>
    </div>



    <div class="p-toolbar-group-right">

        <div class="row">
            <div class="col">
                <a href="/feeds">
                    <fa-icon [icon]="iconhome" style="color: dodgerblue;"></fa-icon>
                </a>
            </div>
            <div class="col">
                <a>
                    <fa-icon [icon]="iconmessage" style="color: dodgerblue;" (click)="test()"></fa-icon>
                </a>
            </div>
            <div class="col">
                <a>
                    <fa-icon [icon]="iconbell" style="color: dodgerblue;"></fa-icon>
                </a>
            </div>
            <div class="col">

                <img class="imgToolbar" src="{{profile_img}}" alt="Avatar" (click)="showPositionDialog('top-right')">

            </div>
        </div>

        <p-dialog header="My Account" [(visible)]="displayModal1" [style]="{width: '25vw'}" [baseZIndex]="10000"
            [position]="position">

    

            <div class="row">
                <button pButton pRipple type="button" label="Logout" class="p-button-outlined p-button-danger block"
                    routerLink="" (click)="logoutLocalstorege()"></button>
            </div>

        </p-dialog>

    </div>
</p-toolbar> -->
<!-- //****************** NavBar ************************ */ -->
<style>
    .imgEditAvtar {
        border-radius: 50%;
        width: 70px;
        height: 70px;
        margin-left: 30%;
    }

    .inputEditAvtar {
        margin-left: 42%;
        margin-top: 1%;
    }

    button {
        margin-top: 8px;
        width: 150px;
        height: 30px;
    }

    .line2 {
        margin-left: -15%;
        margin-top: 5%;
    }

    .image-upload>input {
        display: none;

    }

    .header {
        text-align: center;
        padding: 32px;
    }

    .row {
        display: -ms-flexbox;
        /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap;
        /* IE10 */
        flex-wrap: wrap;
        padding: 0px 0px;
    }

    .column {
        -ms-flex: 25%;
        /* IE10 */
        flex: 25%;
        max-width: 25%;
        padding: 10px 10px;
    }

    .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
    }



    @media screen and (max-width: 800px) {
        .column {
            -ms-flex: 50%;
            flex: 50%;
            max-width: 50%;
        }
    }

    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
        .column {
            -ms-flex: 100%;
            flex: 100%;
            max-width: 100%;
        }
    }

    #myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}





</style>
<div class="container">
    <br><br>
    <div class="row">
        <div class="col-sm-1">

            <div class="image-upload">
                <label for="file-input">
                    <!--รูปโปรไฟล์&อัปโหลดรูป-->
                    <img class="imgProfile" height="100px" width="100px" src="{{profile_img}}" alt="">
                </label>
                <div *ngIf="this.user_id == this.dataUser_id ">
                    <form enctype="multipart/form-data">
                        <input id="file-input" type="file" #fileUpload hidden
                            (change)="updateImagePro($event.target.files)" />
                    </form>
                </div>
               

            </div>
        </div>



        <!-- &nbsp;&nbsp&nbsp;&nbsp;&nbsp;;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
        <div class="col-sm-1"></div>
        <div class="col-sm-6">


            <div class="row">
                <!-- <div class="col-sm-2"> -->
                <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                <div class="col-xs-7">


                    <h2>{{nickname}}</h2>
                </div>
                <div class="col-md-4">
                    <!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
                    <!-- ==========================================แก้ไขข้อมูล======================================================= -->
                    <!-- <button pButton type="button" label="แก้ไขโปรไฟล์" class="p-button-secondary"></button> -->
                    <div *ngIf="this.user_id == this.dataUser_id ; else follow">
                        <p-button (click)="showModalDialog()" icon="pi pi-user-edit" label="แก้ไขข้อมูล"
                        class="p-button-secondary">
                    </p-button>
                    </div>
                    
                    <ng-template #follow>
                        <!-- <p-button label="ติดตาม" icon="pi pi-users" styleClass="p-button-warning" badge="8" badgeClass="p-badge-danger"></p-button> -->
                        <div *ngIf="this.checkFollow == 0 ; else unfollow">
                            <p-button (click)="followUser()" label="ติดตาม" icon="pi pi-user-plus" styleClass="p-button-danger"></p-button>
                        </div>

                        <ng-template #unfollow>
                            <!-- <p-button label="ติดตาม" icon="pi pi-users" styleClass="p-button-warning" badge="8" badgeClass="p-badge-danger"></p-button> -->
                            <p-button  (click)="unfollowUser()" label="ติดตามแล้ว" icon="pi pi-users" styleClass="p-button-secondary"></p-button>
                        </ng-template>
                    </ng-template>
                    
                    
                </div>


                <p-dialog header="แก้ไขโปรไฟล์" [(visible)]="displayModal" [modal]="true" [style]="{width: '30%'}"
                    [baseZIndex]="10000" [draggable]="false" [resizable]="false" [closable]="false">
                    <p-card>

                        <div class="p-field">
                            <div>
                                <!--แก้ไขโปรไฟล์-->
                                <img class="imgEditAvtar" src="{{profile_img_Copy}}" alt="Avatar">
                            </div>

                            <input class="inputEditAvtar" id="file-input" type="file"
                                (change)="onEditPro($event.target.files)" />
                            <!-- <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onEditPro($event.target.files)" [auto]="true"></p-fileUpload> -->
                            <br>
                            <div>
                                <label for="nickname">ชื่อ</label><br>
                                <input id="nickname" class="block" type="text" aria-describedby="nickname-help"
                                    [(ngModel)]="editname" pInputText />
                            </div>
                            <br><br>
                        </div>

                    </p-card>
                    <ng-template pTemplate="footer">
                        <p-button icon="pi pi-check" (click)="confirmEdit()" label="แก้ไข" styleClass="p-button-info">
                        </p-button>
                        <p-button icon="pi pi-times" (click)="cancelEdit()" label="ยกเลิก" styleClass="p-button-danger">
                        </p-button>
                    </ng-template>
                </p-dialog>
                <!-- ==============================================แก้ไขข้อมูล================================================ -->
                <br><br>

                <!-- </div> -->
            </div>
            <br>
            <!-- <div class="line2"> -->
            <div class="row">
                <div class="col-sm-2">
                    <h6>{{countPost}} โพสต์ </h6>
                </div>
                <div class="col-sm-3">
                    <h6>ผู้ติดตาม {{countFollower}} คน</h6>
                </div>
                <div class="col-sm-5">
                    <h6>กำลังติดตาม {{countFollowing}} คน</h6>
                </div>
            </div>
            <!-- </div> -->
        </div>

    </div>
    <hr>
    <!-- ==========================แสดงโพส========================== -->
    <div class="header">
        <h1>โพสต์</h1>
    </div>

    <div class="row" *ngIf="this.user_id == this.dataUser_id || this.checkFollow == 1  ; else nofollow">
        <div class="column" *ngFor="let item of this.data">

            <img src="{{this.item.image}}" alt="" style="width: 100%;" style="height: 100%;" (click)="selectImg(item)">
        </div>
    </div>
    <ng-template #nofollow>
        <div class="row" >
            <div class="col-sm-4"></div>
            <div class="col-sm-4"><h2>กดติดตาม เพื่อดูเนื้อหา 🖕</h2> </div>
            <div class="col-sm-4"></div>
        </div>
        
        
    </ng-template>
    
    <hr class="my-5">

    <p-dialog header="โพสต์" [(visible)]="displayImg" [modal]="true" [style]="{width: '70%'}"
                    [baseZIndex]="10000" [draggable]="false" [resizable]="false" [closable]="true" (onHide)="cancelSelectedImg()">
                    
                    <ng-template pTemplate>
                        <p-card>

                            <div class="p-field">
                                
                                <div class="row">
                                <div class="col-md-6">
                                    <img style="display: block;
                                    margin-left: auto;
                                    margin-right: auto;
                                    width: 100%;" src="{{selectedImg.image}}" alt="Avatar">
                                </div>
                                <div class="col-md-6">
                                    <div>
                                        <div class="row">
                                            <div class="col-sm-3"><img class="imgEditAvtar" src="{{profile_img}}" alt="Avatar"></div>
                                            
                                            <div class="col-sm-6">
                                                <div class="row"><h4>{{nickname}}</h4></div>
                                                <div class="row"><p>{{dateConvert}}</p></div>
                                                
                                            </div>
                                        </div>
                                        
                                        <br>
                                        
                                        
                                        <div class="row" *ngIf="this.user_id == this.dataUser_id ; else noedit">
                                            <div class="col-sm-2"></div>
                                            <div class="col-sm-7"><h4>{{selectedImg.caption}}</h4> </div>
                                            <div class="col-sm-3"> <p-button icon="pi pi-check" label="Edit" styleClass="p-button-info"></p-button></div>
                                           
                                        </div>
                                        <hr class="my-5">
                                        <ng-template #noedit>
                                            <div class="row" >
                                                <div class="col-sm-3"></div>
                                                <div class="col-sm-3"><h4>{{selectedImg.caption}}</h4> </div>
                                               
                                            </div>                    
                                        </ng-template>
                                        <!-- <div class="card-body">
                                            
                                            <textarea [(ngModel)]="txt" class="form-control beautify-textarea" cols="70" rows="2"
                                                placeholder="มีสูตรอาหารอะไรใหม่ๆมั้ย"></textarea>
                                        </div> -->
                                    </div>
                                   
                                </div>
                                
                            </div>
                                
                            </div>
    
                        </p-card>

                        
                        
                        
                    </ng-template>
                </p-dialog>
</div>
<!-- ==========================แสดงโพส========================== -->
<br>

