
<app-toolbar></app-toolbar>

<style>
    button {
        margin-top: 8px;
        width: 150px;
        height: 30px;
    }

    .line2 {
        margin-left: -15%;
        margin-top: 5%;
    }

    .image-upload>input {
        display: none;
        
    }
</style>
<div class="container">
    <br><br>
    <div class="row">
        <div class="col-xs-1">
            
            <div class="image-upload">
                <label for="file-input"><!--รูปโปรไฟล์&อัปโหลดรูป-->
                    <img class="imgProfile" height="100px" width="100px" src="{{profile_img}}" alt=""  > 
                </label>
                
                <form enctype="multipart/form-data">
                    <input id="file-input" type="file" #fileUpload hidden (change)="updateImagePro($event.target.files)"/>
                </form>
                
              </div>
        </div>
        
        

        <!-- &nbsp;&nbsp&nbsp;&nbsp;&nbsp;;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="row">
            <!-- <div class="col-sm-2"> -->
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h2>{{nickname}}</h2>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <button pButton type="button" label="แก้ไขโปรไฟล์" class="p-button-secondary"></button>
            <br><br>

            <!-- </div> -->
        </div>
        <div class="line2">
            <div class="row">
                <div class="col">
                    <h5>1</h5>
                </div>
                <div class="col">
                    <h5>2</h5>
                </div>
                <div class="col">
                    <h5>3</h5>
                </div>
            </div>
        </div>


    </div>
    <hr class="my-5">
</div>

<br>