<style>
    .imgToolbar {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }

    a {
        font-family: cursive;
        color: black;
        float: left;
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 17px;
    }

    col {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .block {
        display: block;
        width: 100%;
       
        
        padding: 14px 28px;
        
    
       
    }
</style>
<!-- //****************** NavBar ************************ */ -->
<p-toolbar>
    
    <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-2"></div>  
        <div class="col-sm-2">
            <div class="ui-toolbar-group-left">
                <a ><span style="color: #007BFF;">Easy</span> <span style="color: #24ad18;">Food</span></a>
            </div>
        </div>

    </div>
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="ค้นหา"  />
    </span>
    
    <!-- <p-button (click)="showPositionDialog('top-right')" icon="pi pi-arrow-down" label="TopRight" styleClass="p-button-warning"></p-button> -->
    
    

    <div class="p-toolbar-group-right">
        
        <div class="row">
            <div class="col">
                <a routerLink="/feeds"><fa-icon [icon]="iconhome" style="color: dodgerblue;"></fa-icon></a>
            </div>
            <div class="col">
                <a ><fa-icon [icon]="iconmessage" style="color: dodgerblue;" (click)= "test()"></fa-icon></a>
            </div>
            <div class="col">
                <a ><fa-icon [icon]="iconbell" style="color: dodgerblue;" ></fa-icon></a>
            </div>
            <div class="col">
                
                <img  class="imgToolbar" src="{{profile_img}}" alt="Avatar" (click)="showPositionDialog('top-right')">
                
            </div>
        </div>

    <p-dialog header="My Account" [(visible)]="displayModal1" [style]="{width: '25vw'}" [baseZIndex]="10000" [position]= "position">
        
            <!-- <button pButton type="button" label="Edit Profile"></button> --> 
            
                <!--เขียนโพส-->
                
                
                <div class="row">
                        <button pButton pRipple type="button" label="Logout" class="p-button-outlined p-button-danger block" routerLink="" (click)="logoutLocalstorege()"></button>
                    <!-- <a routerLink=""  class="black" (click)="logoutLocalstorege()"><button type="button" class="btn btn-outline-warning ">Warning</button></a> -->
                    <!-- <a routerLink="" (click)="logoutLocalstorege()"></a> -->
                </div>
  
    </p-dialog>    
        
    </div>
</p-toolbar>
<!-- //****************** NavBar ************************ */ -->
<style>
    .imgEditAvtar {
        border-radius: 50%;
        width: 70px;
        height: 70px;
        margin-left: 30%;
    }

    .inputEditAvtar {
        margin-left: 42%;
        margin-top: 1%;
    }

    button {
        margin-top: 8px;
        width: 150px;
        height: 30px;
    }

    .line2 {
        margin-left: -15%;
        margin-top: 5%;
    }

    .image-upload>input {
        display: none;

    }
    .header {
        text-align: center;
        padding: 32px;
      }

    .row {
        display: -ms-flexbox; /* IE10 */
        display: flex;
        -ms-flex-wrap: wrap; /* IE10 */
        flex-wrap: wrap;
        padding: 0 0px;
    }
    .column {
        -ms-flex: 25%; /* IE10 */
        flex: 25%;
        max-width: 25%;
        padding: 10px 10px;
      }
      .column img {
        margin-top: 8px;
        vertical-align: middle;
        width: 100%;
      }

      

      @media screen and (max-width: 800px) {
        .column {
          -ms-flex: 50%;
          flex: 50%;
          max-width: 50%;
        }
      }
      
      /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column {
          -ms-flex: 100%;
          flex: 100%;
          max-width: 100%;
        }
    }

</style>
<div class="container">
    <br><br>
    <div class="row">
        <div class="col-sm-1">

            <div class="image-upload">
                <label for="file-input">
                    <!--รูปโปรไฟล์&อัปโหลดรูป-->
                    <img class="imgProfile" height="100px" width="100px" src="{{profile_img}}" alt="">
                </label>

                <form enctype="multipart/form-data">
                    <input id="file-input" type="file" #fileUpload hidden
                        (change)="updateImagePro($event.target.files)" />
                </form>

            </div>
        </div>



        <!-- &nbsp;&nbsp&nbsp;&nbsp;&nbsp;;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
        <div class="col-sm-1"></div>
        <div class="col-sm-6">


            <div class="row">
                <!-- <div class="col-sm-2"> -->
                <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                <div class="col-sm-2">

                
                <h2>{{nickname}}</h2>
                </div>
                <div class="col-sm-6">
                <!-- &nbsp;&nbsp;&nbsp;&nbsp; -->
                <!-- ==========================================แก้ไขข้อมูล======================================================= -->
                <!-- <button pButton type="button" label="แก้ไขโปรไฟล์" class="p-button-secondary"></button> -->
                <p-button (click)="showModalDialog()" icon="pi pi-user-edit" label="แก้ไขข้อมูล"
                    class="p-button-secondary">
                </p-button>
                </div>

                <p-dialog header="แก้ไขโปรไฟล์" [(visible)]="displayModal" [modal]="true" [style]="{width: '30%'}"
                    [baseZIndex]="10000" [draggable]="false" [resizable]="false" [closable]="false">
                    <p-card>

                        <div class="p-field">
                            <div>
                                <!--แก้ไขโปรไฟล์-->
                                <img class="imgEditAvtar" src="{{profile_img_Copy}}" alt="Avatar">
                            </div>
                            
                            <input class="inputEditAvtar" id="file-input" type="file"
                                (change)="onEditPro($event.target.files)" />
                            <!-- <p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onEditPro($event.target.files)" [auto]="true"></p-fileUpload> -->
                            <br>
                            <div>
                                <label for="nickname">ชื่อ</label><br>
                            <input id="nickname" class="block" type="text" aria-describedby="nickname-help"
                                [(ngModel)]="editname" pInputText />
                            </div>
                            <br><br>
                        </div>

                    </p-card>
                    <ng-template pTemplate="footer">
                        <p-button icon="pi pi-check" (click)="confirmEdit()" label="แก้ไข" styleClass="p-button-info">
                        </p-button>
                        <p-button icon="pi pi-times" (click)="cancelEdit()" label="ยกเลิก" styleClass="p-button-danger">
                        </p-button>
                    </ng-template>
                </p-dialog>
                <!-- ==============================================แก้ไขข้อมูล================================================ -->
                <br><br>

                <!-- </div> -->
            </div>
            <br>
            <!-- <div class="line2"> -->
            <div class="row">
                <div class="col-sm-2">
                    <h6>{{countPost}} โพส </h6>
                </div>
                <div class="col-sm-3">
                    <h6>ผู้ติดตาม {{countFollower}} คน</h6>
                </div>
                <div class="col-sm-5">
                    <h6>กำลังติดตาม {{countFollowing}} คน</h6>
                </div>
            </div>
            <!-- </div> -->
        </div>

    </div>
    <hr>
    <!-- ==========================แสดงโพส========================== -->
    <div class="header">
        <h1>โพสต์</h1>
        <!-- <p>Start capturing and sharing your moments.</p> -->
      </div>

    <div class="row">
        <div class="column" *ngFor="let item of this.data">
            <img src="{{this.item.image}}" alt="" style="width: 100%;" style="height: 100%;">        
        </div>      
    </div>
    <hr class="my-5">
</div>

<br>